@charset "utf-8";
/* CSS Document */

		#header,#content,#login,#login-content,#footer,#footer-content, .container{float:left;}
		#header,#content,#login,#login-content,#footer{border:1px solid #333}
		
		.container{width:100%}
		#container {width:960px;margin:0 auto;display:block;clear:both}
		#header,#footer, #content {width:98%;padding:1.11%}
		#login{width:45.5%;padding:1%;margin:1%}
		#login-content{width:45.5%;padding:1%;margin:1%}
		#footer{margin-bottom:50px}
		#footer-content{width:100%}
		#credits {width:98.4%;position:fixed;bottom:0;left:0;padding:10px;}
		.item-titulo{text-align: left;margin-right: 0;float:none}

        @media (min-width: 481px) and (max-width: 900px) {
			#container {width:740px;margin:0 auto;display:block;clear:both}
			#header img,#footer img {max-width:740px; max-height:222px;}
		}
        
		@media (min-width: 321px) and (max-width: 480px) {
			#container {width:450px;margin:0 auto;display:block;clear:both}
			#header img,#footer img {max-width:450px; max-height:135px;}
			#login{width:96%;padding:1%;margin:1%}
			#login-content{width:96%;padding:1%;margin:1%}
			#domain{display:block;}
			.item-titulo{text-align: left;margin-right: 0;float:none}
			#options {text-align: left;}
			#options a{line-height: 25px;padding-right:10px;}
		}

		@media (max-width: 320px) {
			#container {width:300px;margin:0 auto;display:block;clear:both}
			#header img,#footer img {max-width:275px; max-height:83px;}
			#login{width:95%;padding:1%;margin:1%}
			#login-content{width:95%;padding:1%;margin:1%}
			.item-titulo{text-align: left;margin-right: 0;float:none}
			#options {text-align: left;}
			#options a{line-height: 35px;padding-right:10px;}
			#footer{margin-bottom:150px}
			.formulario{margin-bottom:0;}
		 }